div#sudoku-wrap {
	position: relative;
	margin: auto auto;
}
div#sudoku {
	position: relative;
	margin-top: 2em;
	margin-bottom: 2em;
}
div#controls {
	position: relative;
}
div#controls a.chooser {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	margin: 10px 5px;
	border: 1px solid black;
	text-decoration: none;
	text-align: center;
	color: blue;
}
div#controls a.chooser.current {
	font-weight: bold;
	background-color: blue;
	color: white;
}
div#game-controls {
	position: relative;
	clear: left;
}
.cell span.value {
	font-size: 16px;
	text-align: center;
}
div.guess {
	position: absolute;
	font-size: 7px;
	line-height: 8px;
}
table.sudoku {
	border: 1px solid black;
	border-spacing: 0;
	border-collapse: collapse
}
table.sudoku td {
	border: 1px solid #bbb;
	width: 3em;
	height: 3em;
	margin: 0;
	position: relative;
	text-align: center;
	vertical-align: middle;
}
table.sudoku td.tdiff {
	border-top: 2px solid black;
}
table.sudoku td.bdiff {
	border-bottom: 2px solid black;
}
table.sudoku td.ldiff {
	border-left: 2px solid black;
}
table.sudoku td.rdiff {
	border-right: 2px solid black;
}
table.sudoku td.conflict {
	color: red;
}
table.sudoku td.color_0 {
	background-color: transparent;
}
table.sudoku td.color_1 {
	background-color: #eef;
}
table.sudoku td.color_2 {
	background-color: #efe;
}
table.sudoku td.color_3 {
	background-color: #fee;
}
